.hero {
  margin-bottom: 3.33333em;
  padding-bottom: 1.66667em;

  &__title {
    font-size: 2.22222em;
  }

  &__body {
    font-size: 1.11111em;
    line-height: 1.5;
  }

  &__body,
  &__actions {
    &:not(:first-child) {
      margin-top: 2.5em;
    }
  }

  &__actions {
    font-size: 1.11111em;

    .button {
      font-size: inherit;
    }
  }
  & .text-block{
      background: #333333;
      color: white;
      padding: 2rem;
      border-radius: 1rem;
  }
  h1{
    color: white;
    background: linear-gradient( to bottom, transparent 0%, transparent 0%, $color-accent 0%, $color-accent 100% );
    background-repeat: no-repeat;
    background-size: 95% 65%;
    background-position: bottom left;
    box-shadow: -1rem 1.1rem 0 -.4rem $color-gray-50;
  }
}

@media only screen and (min-width: 601px) {
  .hero {
    margin-bottom: 5em;

    &__title {
      font-size: 2.66667em;
    }

    &__body {
      font-size: 1.33333em;
    }
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    &__title {
      font-size: 3.33333em;
    }
  }
}
